/.vs/PersonalSite/config/applicationhost.config
/.vs/PersonalSite/CopilotIndices/17.14.1561.44479/CodeChunks.db
/.vs/PersonalSite/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
/.vs/PersonalSite/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
/.vs/PersonalSite/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
/.vs/PersonalSite/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
/.vs/PersonalSite/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
/.vs/PersonalSite/FileContentIndex/3b353d63-2003-410d-91e4-b6a4129047fe.vsidx
/.vs/PersonalSite/FileContentIndex/ae1a93d1-a7fc-4306-8573-5e0f87e56479.vsidx
/.vs/PersonalSite/FileContentIndex/c54c04fe-9289-4139-bfe3-fb7d0b31e63f.vsidx
/.vs/PersonalSite/FileContentIndex/daa73df5-35a5-4fbb-8a98-71936956b0aa.vsidx
/.vs/PersonalSite/FileContentIndex/e6187565-b560-4790-aeb0-fe24f58131dd.vsidx
/.vs/PersonalSite/v17/.suo
/.vs/PersonalSite/v17/DocumentLayout.backup.json
/.vs/PersonalSite/v17/DocumentLayout.json
